<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context.xsd
 http://www.springframework.org/schema/tx
 http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- spring读取db.properties文件 -->
    <context:property-placeholder location="classpath:db.properties"/>

    <!-- 1.建立数据源 -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="jdbcUrl" value="${db.url}"/>
        <property name="driverClass" value="${db.driverClass}"/>
        <property name="user" value="${db.user}"/>
        <property name="password" value="${db.password}"/>
    </bean>

    <!--2.Spring整合JPA-->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <!-- 数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!--ORM提供商（适配）：hibernate-->
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <!--显示Sql语句-->
                <property name="showSql" value="true"/>
                <!--是否生成表-->
                <!--<property name="generateDdl" value="true"/>-->
                <!--数据库方言-->
                <property name="databasePlatform" value="org.hibernate.dialect.MySQLDialect"/>
                <!--数据库类型-->
                <property name="database" value="MYSQL"/>
            </bean>
        </property>
        <!--注解扫描包-->
        <property name="packagesToScan">
            <list>
                <value>com.bos.entity</value>
            </list>
        </property>
    </bean>

    <!-- 3.1 开启事务注解 -->
    <tx:annotation-driven/>
    <!-- 3.2 JPA的事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <!-- 4.开启IOC注解 -->
    <context:component-scan base-package="com.bos"/>
</beans>